.main{
display: flex;
flex-direction: column;
background-color: rgba(192, 211, 247, 0.479);
}
#header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    flex-wrap: wrap;
}

#body{
    background-color: #ffffff;
    padding: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.label-form{
    font-size:1.2rem;
}
input{
    background-color: rgb(220, 226, 238);
    
}
#submit-index{
    padding: 0.5rem;
    background-color: rgb(19, 82, 199);
    color: white;
    margin-top: 0.5rem;
}
#form-index{
padding: 2rem;
}

footer{
    background-color: rgba(105, 105, 105, 0.466);
    color: white;
    padding: 2rem;
    text-align: center;
}